.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
  font-weight: 200;
}

#output{
    width: 70%;
    height: fit-content;
    padding: 1em 5em;
    font-size: 1.5em;
    margin-top: 2em;
    text-align: center;
}

.opening h3{
    margin-bottom: 20px;
}

nav{
    background: #f9f9f9;
}

h1{
    margin: 2em 0 1em 0;
}

.cam{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2em 1em;
}

#label-container{
    display: none;
}

button{
    padding: 2px 20px;
    color: white;
    background: #8C30F5;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 2em;
    border: 1px solid transparent;
    transition: .2s ease-in;
}

button:hover{
    background-color: #3B72FF;    
    border: 1px solid white;
}

.cameradiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#guide {
  width: 400px;
  height: 400px;
}

.mainsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}